beautifulsoup4==4.10.0
certifi==2021.10.8
charset-normalizer==2.0.9
click==7.1.2
colorama==0.4.4
idna==3.3
joblib==1.0.1
nltk==3.6.2
Pillow==8.3.2
PyQt5Designer==5.14.1
PyQt6==6.1.0
pyqt6-plugins==6.1.0.2.2
PyQt6-Qt6==6.2.2
PyQt6-sip==13.2.0
pyqt6-tools==6.1.0.3.2
PySide6==6.2.2.1
python-dotenv==0.19.2
qt6-applications==6.1.0.2.2
qt6-tools==6.1.0.1.2
regex==2021.8.28
requests==2.26.0
shiboken6==6.2.2.1
soupsieve==2.3.1
tqdm==4.62.2
urllib3==1.26.7
